<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WebAPI.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
                <environmentVariables>
                    <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
                    <environmentVariable name="HSPA_AppSettings__Key" value="9QRUb7xMv44rZ7eeeniVnIxx33X5A911A9D74NO8jZ7tSDx4I32QInAb8DuBWsQ0" />
                    <environmentVariable name="HSPA_DBPassword" value="1234@Sd#" />
                </environmentVariables>
            </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: D771E97F-A59D-4D7F-9063-7BF7E10524AE-->